* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v255_514 {
  width: 600px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v255_523 {
  width: 605px;
  height: 148px;
  background: rgba(81,214,126,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v255_516 {
  width: 239px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 178px;
  font-family: Viga;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v255_518 {
  width: 300px;
  height: 71px;
  background: rgba(81,214,126,1);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 150px;
  overflow: hidden;
}
.v255_519 {
  width: 237px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 434px;
  left: 185px;
  font-family: Viga;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.text-small {
  width: 557px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 327px;
  left: 25px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.text-small2 {
  width: 567px;
  color: rgba(141,141,141,1);
  position: absolute;
  top: 530px;
  left: 26px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v280_9 {
  width: 215px;
  height: 165px;
  background: url("../images/welcome.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 192px;
  overflow: hidden;
}
.v280_10 {
  width: 101px;
  height: 103px;
  background: url("../images/v280_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 56px;
  overflow: hidden;
}
.v280_11 {
  width: 100px;
  height: 102px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v280_12 {
  width: 101px;
  height: 103px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v280_13 {
  width: 64px;
  height: 46px;
  background: rgba(255,201,176,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 13px;
}
.v280_14 {
  width: 65px;
  height: 47px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 13px;
}
.v280_15 {
  width: 6px;
  height: 11px;
  background: rgba(226,131,98,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 32px;
}
.v280_16 {
  width: 11px;
  height: 11px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 24px;
}
.v280_17 {
  width: 6px;
  height: 14px;
  background: rgba(226,131,98,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 38px;
}
.v280_18 {
  width: 13px;
  height: 13px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 28px;
}
.v280_19 {
  width: 6px;
  height: 14px;
  background: rgba(226,131,98,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 49px;
}
.v280_20 {
  width: 13px;
  height: 13px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 39px;
}
.v280_21 {
  width: 6px;
  height: 16px;
  background: rgba(226,131,98,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 44px;
}
.v280_22 {
  width: 14px;
  height: 14px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 33px;
}
.v280_23 {
  width: 48px;
  height: 31px;
  background: rgba(226,131,98,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 35px;
}
.v280_24 {
  width: 49px;
  height: 32px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 35px;
}
.v280_25 {
  width: 12px;
  height: 10px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 60px;
}
.v280_26 {
  width: 13px;
  height: 10px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 53px;
}
.v280_27 {
  width: 10px;
  height: 9px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 49px;
}
.v280_28 {
  width: 14px;
  height: 5px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 51px;
}
.v280_29 {
  width: 22px;
  height: 33px;
  background: rgba(81,214,126,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
}
.v280_30 {
  width: 23px;
  height: 35px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
}
.v280_31 {
  width: 4px;
  height: 4px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 9px;
}
.v280_32 {
  width: 5px;
  height: 5px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 8px;
}
.v280_33 {
  width: 22px;
  height: 33px;
  background: rgba(81,214,126,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 78px;
}
.v280_34 {
  width: 23px;
  height: 35px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 77px;
}
.v280_35 {
  width: 4px;
  height: 4px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 87px;
}
.v280_36 {
  width: 5px;
  height: 5px;
  background: rgba(9,63,104,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 87px;
}
.v281_53 {
  width: 603px;
  height: 148px;
  background: rgba(81,214,126,1);
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 3px;
  overflow: hidden;
}
.title-footer {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 732px;
  left: 236px;
  font-family: Viga;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.text-small-footer {
  width: 436px;
  color: #fff;
  position: absolute;
  top: 677px;
  left: 81px;
  font-family: Helvetica;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  -webkit-text-stroke: 0.1px black;
}
.text-small-footer a{
  text-decoration: none;
}
.instagram-icon {
  width: 20px;
  height: 20px;
  background: url("../images/instagram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 244px;
  overflow: hidden;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  background: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 274px;
  overflow: hidden;
}

.v281_61 {
  width: 25px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v281_62 {
  width: 20px;
  height: 20px;
  background: url("../images/v281_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 334px;
  overflow: hidden;
}
.v281_63 {
  width: 20px;
  height: 20px;
  background: url("../images/twitter.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v281_65 {
  width: 20px;
  height: 20px;
  background: url("../images/linkedin.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 304px;
  overflow: hidden;
}
.v281_66 {
  width: 20px;
  height: 20px;
  background: url("../images/linked.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v281_67 {
  width: 31px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 12px;
  overflow: hidden;
}
.name {
  color: #fff;
}
hr {
  color: #fff;
}
